@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf) format('ttf');
}

body {
    background-color: #2A005F;
    viewport-fit: 100vh;
}

div {
    display: block;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    height: 697px;
    top: 37px;
    bottom: 37px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

img {
    top: 32px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 195px;
    border-radius: 90px;
    border: 2.5px solid #2A005F;
}

h1 {
    color: #171717;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: block;
    position: relative;
    width: 221px;
    top: 26px;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: #171717;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    display: block;
    position: relative;
    top: 11px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: 1px solid #171717;
    display: block;
    position: relative;
    top: 22px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

h2 {
    color: #171717;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    display: block;
    position: relative;
    top: 29px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #171717;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border: 0.5px #2A005F solid;
    border-radius: 15px;
    width: 300px;
    height: 50px;
}

a:link {
    background-color: rgb(212, 212, 212);
  }
  
  a:visited {
    background-color: #f2f2f2;
  }
  
  a:hover {
    background-color: #e6e6e6;
}
  
  a:active {
    background-color: #dddddd;
  }

a.linkedin {
    position: relative;
    top: 35px;
}

a.github {
    position: relative;
    top: 35px;
}

a.spotify {
    position: relative;
    top: 35px;
}

